html,
body {
  height: 100%;
}

body {
  background-color: rgb(45, 55, 72);
  color: #ededee;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.wrapper {
  display: flex;
  height: 100%;
  overflow: auto;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

.container {
  max-width: 1300px;
  margin: 0px auto;
  position: static;
}

/* first-sec */

.first-sec {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
}

.first-sec-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-self: center;
}

.first-sec-body {
  max-width: 600px;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}

.first-sec-img {
  margin-left: auto;
  max-width: 100%;
  flex: 1 1 405px;
  justify-self: flex-end;
  justify-content: flex-end;
  -webkit-box-pack: end;
  display: flex;
}

.first-sec-img svg {
  max-width: 80%;
  max-height: 100%;
}

.second-sec-header {
  align-self: center;
}

.up-signature {
  display: block;
  font-size: 13px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.up-signature::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  background-color: rgb(22, 115, 255);
  margin-right: 1em;
}

.main-header {
  margin-top: 5px;
  font-size: 72px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 4rem;
}

.main-text {
  font-size: 18px;
  line-height: 1.6;
  color: #ededee;
  opacity: 0.8;
}

.button-area {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.button-area a {
  text-decoration: none;
}

.main-btn {
  display: inline-block;
  border: 2px;
  margin-right: 20px;
  color: white;
  font-size: 12px;
  padding: 17.5px 22.5px;
  background-color: #1673ff;
  font-weight: bold;
  text-transform: uppercase;
}

.sub-main-btn {
  display: inline-block;
  border: 2px;
  margin-right: 20px;
  color: white;
  font-size: 12px;
  padding: 17.5px 22.5px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-arrow {
  margin-left: 20px;
  font-weight: bold;
}

/* second-sec */

.second-sec {
  align-items: center;
  margin: 109px 0 109px 0px;
}

.slider-row {
  display: flex;
  max-width: 100%;
  overflow: hidden;
}

.slider-track {
  display: flex;
  animation: scroll 30s linear infinite;
}

.slider__item {
  width: 185px;
  margin-right: 30px;
  transition: transform 0.3s ease;
  flex-shrink: 0;
}

.second-sec-header {
  justify-self: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  opacity: 0.8;
  font-weight: bold;
}

.slider__item:hover {
  transform: scale(1.1);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-185px * 7 - 30px * 7));
  }
}

/* first-dashboard */

.first-dashboard {
  margin-top: 150px;
  padding-left: 20px;
  padding-right: 20px;
}

.first-dashboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.first-dashboard-img img {
  max-width: 80%;
  max-height: 100%;
  justify-self: center;
  align-self: center;
  align-items: center;
}

.first-dashboard-img {
  flex: 1 1 605px;
}

.first-dashboard-body {
  flex: 1 1 auto;
  max-width: 605px;
}

.first-dashboard-body span {
  text-transform: uppercase;
  display: block;
  font-size: 13px;
  margin-bottom: 20px;
  font-weight: bold;
}

.first-dashboard-body span::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  background-color: rgb(22, 115, 255);
  margin-right: 1em;
}

.first-dashboard-body h2 {
  margin-bottom: 40px;
  font-size: 52px;
  letter-spacing: -0.03em;
  font-weight: bold;
  line-height: 1.1;
}

.first-dashboard-right-txt {
  font-size: 18px;
  line-height: 1.6;
  opacity: 0.8;
}

.first-dashboard-right-txt p a {
  text-decoration: none;
  color: rgb(22, 115, 255);
}

/* second-dashboard */
.second-dashboard {
  margin-top: 150px;
  padding-left: 20px;
  padding-right: 20px;
}

.second-dashboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.second-dashboard-img {
  flex: 1 1 605px;
  margin-left: 50px;
}

.second-dashboard-img img {
  max-width: 80%;
  max-height: 100%;
}

.second-dashboard-body {
  flex: 1 1 auto;
  max-width: 605px;
  opacity: 0.8;
}

.second-dashboard-body p {
  font-size: 18px;
  line-height: 1.6;
}

.second-dashboard-body span {
  font-size: 13px;
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.second-dashboard-body span::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  background-color: rgb(22, 115, 255);
  margin-right: 1em;
}

.second-dashboard-body h2 {
  font-size: 52px;
  margin-bottom: 40px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -0.03em;
}

.second-dashboard-body ul {
  font-size: 19px;
  line-height: 1.7;
  margin-top: 18px;
  margin-bottom: 18px;
  list-style: none;
}

.second-dashboard-body ul li {
  padding-left: 20px;
  position: relative;
  box-sizing: border-box;
  display: list-item;
}

.second-dashboard-body ul li::before {
  position: absolute;
  content: "L";
  left: 0px;
  top: 0px;
  transform: scaleX(-1) rotate(324deg);
  box-sizing: border-box;
  text-align: center;
  color: rgb(22, 115, 255);
  font-family: arial;
}

/* third-sec */

.third-sec {
  align-items: center;
  justify-items: center;
  justify-content: center;
  background-color: rgb(10, 18, 30);
  padding: 125px 0;
}

.label-info-content-title {
  margin: 0px auto;
  padding: 0px 2rem;
  justify-self: center;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  font-size: 13px;
}

.label-info-content-title::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  background-color: rgb(22, 115, 255);
  margin-right: 1em;
}

.third-sec-title {
  justify-self: center;
  margin-top: 40px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -0.03em;
  text-align: center;
  font-size: 52px;
  max-width: 60%;
}

.third-sec-text {
  justify-self: center;
  max-width: 65%;
  margin-top: 4rem;
  font-size: 18px;
  text-align: center;
  opacity: 0.8;
}

.info-btns {
  max-width: 60%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: rgb(255, 255, 255);
  justify-self: center;
}

.info-btn-right,
.info-btn-left {
  color: rgb(255, 255, 255);
  margin-right: 2rem;
  text-decoration: none;
  text-align: center;
  padding: 17.5px 22.5px;
  font-size: 12px;
  backface-visibility: hidden;
  display: inline-block;
  border-radius: 0.4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.info-btn-right span,
.info-btn-left span {
  display: inline-block;
  margin-left: 2rem;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.info-btn-left {
  background: rgb(22, 115, 255);
}

.info-btn-right {
  border: 1px solid white;
}

/* third-dashboard */

.multisection {
  background-color: rgb(26, 32, 44);
}

.third-dashboard {
  margin-top: 150px;
  padding: 0px 2rem;
}

.third-dashboard-titles {
  justify-items: center;
  align-items: center;
}

.third-dashboard-titles div {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.02em;
  font-size: 13px;
}

.third-dashboard-titles div::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  background-color: rgb(22, 115, 255);
  margin-right: 1em;
}

.third-dashboard-titles h2 {
  margin-top: 1rem;
  font-size: 52px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -0.03em;
  display: block;
}

.third-dashboard-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.column-item-row {
  display: flex;
}

.third-dashboard-columns {
  flex: 1 1 30%;
  max-width: 30%;
  margin-right: 40px;
}

.third-dashboard-img {
  flex: 1 1 60%;
}

.third-dashboard-img img {
  max-width: 100%;
  max-height: 100%;
}

.third-dashboard-column {
  background-color: rgb(45, 55, 72);
  padding: 2rem 1.5rem;
  opacity: 1;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.column-item-row-img {
  content: "";
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: rgb(221, 9, 57);
  border-radius: 100rem;
  margin-right: 20px;
  max-width: 100%;
}

.column-item-body {
  font-size: 16px;
}

.column-item-body h4 {
  display: block;
  font-weight: bold;
}

.up-block-content-txt {
  font-weight: normal;
  margin-top: 15px;
  height: auto;
  font-size: 1.5rem;
  opacity: 1;
}

.second,
.third {
  margin-top: 15px;
}

/* boxes */

.boxes {
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-top: 150px;
}

.boxes-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--autofit-grid-item-size), 1fr)
  );
}

.cube {
  flex: 0 1 30%;
  padding: 2.5rem;
  background-color: rgb(45, 55, 72);
  justify-content: center;
  align-items: center;
}

.cube img {
  max-height: 128px;
  max-width: 128px;
  display: block;
  justify-self: center;
}

.cube-txt {
  font-size: 16px;
  justify-self: center;
  text-align: center;
  opacity: 0.6;
  margin-top: 10px;
}

.cube-title {
  justify-self: center;
  margin-top: 1rem;
  font-weight: bold;
}

/* vertical */

.vertical {
  width: 100%;
  margin-top: 100px;
}

.vertical-titles {
  align-items: center;
  justify-items: center;
  text-align: center;
  padding: 0 15px;
}

.vertical-titles div {
  text-transform: uppercase;
}

.vertical-titles div::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  background-color: rgb(22, 115, 255);
  margin-right: 1em;
}

.vertical-titles h4 {
  margin-top: 10px;
  font-size: 52px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -0.03em;
}

.vertical-body {
  overflow: hidden;
  width: 100%;
}

.vertical-row {
  display: flex;
  padding: 0 20px;
  margin-top: 10px;
  width: max-content;
  gap: 20px;
  animation: scroll-horizontal 150s linear infinite;
}

.vertical-column {
  width: 341.423px;
  background-color: rgb(45, 55, 72);
  height: 100%;
  border-radius: 0.6rem;
}

.vertical-img img {
  max-width: 100%;
}

.vertical-txt-title {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: bold;
  margin-top: 20px;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-341.423px * 6 - 20px * 6));
  }
}

.vertical-txt-body {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  opacity: 0.6;
  margin-top: 20px;
  text-size-adjust: 100%;
}

.vertical-item {
  flex: 0 0 16.7%;
}

.vertical-txt {
  padding: 0px 2rem;
  margin-bottom: 20px;
}

/* scroll-first */

.scroll-first {
  margin-top: 150px;
  position: relative;
}

.scroll-first-row {
  display: flex;
  justify-content: center;
  position: relative;
}

.scroll-first-item {
  width: 100%;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.scroll-first-author {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
}

.scroll-first-item {
  text-align: center;
  align-items: center;
  align-self: center;
}

.scroll-first-item-img {
  margin-bottom: 50px;
}

.scroll-first-author-img img {
  border-radius: 100px;
  width: 48px;
  height: 48px;
}

.scroll-first-author-img {
  margin-right: 10px;
}

.scroll-first-item-txt {
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  max-width: 60%;
  margin: 0 auto;
}

.scroll-first-author-txt {
  text-align: left;
  font-size: 14px;
}

.scroll-first-author-txt div:first-child {
  font-weight: normal;
  margin: 0px;
}

.scroll-first-author-txt div:nth-child(2) {
  font-weight: bold;
  margin: 0px;
}

.scroll-first .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(26, 32, 44);
  border: none;
  cursor: pointer;
  z-index: 10;
}

.scroll-first-item.displaySlide {
  display: block;
  opacity: 1;
  animation-name: fade;
  animation-duration: 1.5s;
}

.scroll-first .button.prev {
  left: 20px;
}

.scroll-first .button.next {
  right: 20px;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

/* svg */

.svg {
  color: rgb(237, 237, 238);
  box-sizing: border-box;
}

/* newsletter */

.bottom-color {
  background-color: rgb(10, 18, 30);
}

.newsletter {
  justify-items: center;
  padding-bottom: 160px;
}

.newsletter-title {
  margin-bottom: 4rem;
  font-size: 52.5px;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
}

/* footer */

footer {
  padding: 100px 0 40px 0;
}

.links-row {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.site-link {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.links-row {
  flex-wrap: wrap;
}

.footer-column-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  margin-right: 5rem;
}

.footer-column-title {
  font-weight: bold;
  font-size: 22.5px;
  margin-bottom: 2.5rem;
}

.site-link a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  margin-top: 1rem;
}

/* footer-row */

.footer-row {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
  padding: 0 20px;
  align-items: center;
  flex-wrap: wrap;
}

.copyright {
  font-size: 15px;
  margin-top: 7px;
}

/* menu */
nav.menu {
  position: sticky;
  top: 0px;
  padding: 15px 0;
  max-height: 80px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  z-index: 1000;
  background-color: rgb(45, 55, 72);
}

.menu-row {
  display: flex;
  justify-content: space-between;
}

.menu-links {
  display: flex;
  align-items: center;
}

.menu-btn {
  display: flex;
  align-items: center;
  color: white;
}

.menu-btn h4 {
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
}

.menu-links div a {
  color: rgb(237, 237, 238, 0.75);
  font-size: 13px;
  text-transform: uppercase;
  line-height: 2;
  opacity: 0.8;
  font-weight: 700;
  padding: 7.5px 15px;
  letter-spacing: 0.325px;
}

.menu-links div {
  margin-right: 20px;
}

.sign-up {
  background-color: rgb(22, 115, 255);
  padding: 7.5px 15px;
  border-radius: 4px;
  color: white;
  opacity: 1;
  font-size: 13px;
  line-height: 2;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 1300px) {
  .container {
    max-width: 970px;
  }

  .first-sec-body {
    /* text-align: center; */
  }

  .first-sec-img {
    justify-content: center;
    margin-top: 55px;
  }

  .main-header {
    font-size: 52px;
  }

  .second-dashboard-img,
  .first-dashboard-img {
    display: flex;
    align-self: center;
    justify-content: center;
  }

  .first-dashboard-body span {
    margin-top: 35px;
  }

  .second-dashboard-img {
    margin-left: 0;
  }

  .second-dashboard {
    margin-top: 70px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .first-sec-body {
    /* text-align: center; */
  }

  .third-sec-title {
    font-size: 40px;
    max-width: 75%;
  }

  .info-btns {
    display: block;
  }

  .info-btn-left {
    margin-right: 0;
    width: 100%;
    font-size: 10px;
  }

  .info-btn-right {
    margin-right: 0;
    width: 100%;
    margin-top: 10px;
    font-size: 10px;
  }

  .third-dashboard {
    margin-top: 20px;
  }

  .third-dashboard-titles h2 {
    font-size: 35px;
  }

  .vertical-titles h4 {
    font-size: 32px;
  }

  .vertical-titles div {
    font-size: 11px;
  }

  .newsletter-title {
    font-size: 32px;
    margin-bottom: 25px;
  }

  .newsletter {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }

  .first-sec-body {
    text-align: center;
  }

  .button-area {
    display: block;
  }

  .main-btn {
    margin-right: 0;
    width: 100%;
  }

  .sub-main-btn {
    margin-right: 0;
    width: 100%;
  }

  .main-header {
    font-size: 42px;
  }

  .second-dashboard-body h2,
  .first-dashboard-body h2 {
    font-size: 40px;
  }

  .third-sec {
    padding: 45px 0;
  }

  .third-dashboard-row {
    display: block;
  }

  .third-dashboard-titles h2 {
    font-size: 35px;
  }

  .third-dashboard-columns {
    max-width: 100%;
    justify-content: center;
    margin-right: 0;
  }

  .third-dashboard-img {
    margin: 20px;
  }
}

@media (max-width: 430px) {
  .links-row {
    display: block;
    text-align: center;
  }
  .footer-column-row {
    margin-right: 0;
  }

  .footer-row {
    margin-top: 0;
    justify-content: center;
  }
}
