body {
  background-color: rgb(45, 55, 72);
  color: #ededee;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

.container {
  max-width: 1300px;
  margin: 0px auto;
}

/* first-sec */

.first-sec {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 110px;
  margin-right: 110px;
  max-width: 130em;
}

.first-sec-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.first-sec-body {
  max-width: 600px;
}

.first-sec-img {
  margin-left: auto;
}

.first-sec-img svg {
  max-width: 80%;
  max-height: 100%;
}

.second-sec-header {
  align-self: center;
}

.up-signature {
  display: block;
  font-size: 13px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.up-signature::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  background-color: rgb(22, 115, 255);
  margin-right: 1em;
}

.main-header {
  margin-top: 5px;
  font-size: 72px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 4rem;
}

.main-text {
  font-size: 18px;
  line-height: 1.6;
  color: #ededee;
  opacity: 0.8;
}

.button-area {
  margin-top: 40px;
  display: flex;
}

.button-area a {
  text-decoration: none;
}

.main-btn {
  display: inline-block;
  border: 2px;
  margin-right: 20px;
  color: white;
  font-size: 12px;
  padding: 17.5px 22.5px;
  background-color: #1673ff;
  font-weight: bold;
  text-transform: uppercase;
}

.sub-main-btn {
  display: inline-block;
  border: 2px;
  margin-right: 20px;
  color: white;
  font-size: 12px;
  padding: 17.5px 22.5px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-arrow {
  margin-left: 20px;
  font-weight: bold;
}

/* second-sec */

.second-sec {
  align-items: center;
  margin: 109px 150px 109px 0px;
}

.second-sec-header {
  justify-self: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  opacity: 0.8;
  font-weight: bold;
}

/* first-dashboard */

.first-dashboard {
  margin-top: 150px;
}

.first-dashboard-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.first-dashboard-img img {
  max-width: 80%;
  max-height: 100%;
}

.first-dashboard-img {
  flex: 1 1 605px;
}

.first-dashboard-body {
  flex: 1 1 auto;
  max-width: 605px;
}

.first-dashboard-body span {
  text-transform: uppercase;
  display: block;
  font-size: 13px;
  margin-bottom: 20px;
  font-weight: bold;
}

.first-dashboard-body span::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  background-color: rgb(22, 115, 255);
  margin-right: 1em;
}

.first-dashboard-body h2 {
  margin-bottom: 40px;
  font-size: 52px;
  letter-spacing: -0.03em;
  font-weight: bold;
  line-height: 1.1;
}

.first-dashboard-right-txt {
  font-size: 18px;
  line-height: 1.6;
  opacity: 0.8;
}

.first-dashboard-right-txt p a {
  text-decoration: none;
  color: rgb(22, 115, 255);
}

/* second-dashboard */
.second-dashboard {
  margin-top: 150px;
}

.second-dashboard-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.second-dashboard-img {
  flex: 1 1 605px;
  margin-left: 50px;
}

.second-dashboard-img img {
  max-width: 80%;
  max-height: 100%;
}

.second-dashboard-body {
  flex: 1 1 auto;
  max-width: 605px;
  opacity: 0.8;
}

.second-dashboard-body p {
  font-size: 18px;
  line-height: 1.6;
}

.second-dashboard-body span {
  font-size: 13px;
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.second-dashboard-body span::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  background-color: rgb(22, 115, 255);
  margin-right: 1em;
}

.second-dashboard-body h2 {
  font-size: 52px;
  margin-bottom: 40px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -0.03em;
}

.second-dashboard-body ul {
  font-size: 19px;
  line-height: 1.7;
  margin-top: 18px;
  margin-bottom: 18px;
  list-style: none;
}

.second-dashboard-body ul li {
  padding-left: 20px;
  position: relative;
  box-sizing: border-box;
  display: list-item;
}

.second-dashboard-body ul li::before {
  position: absolute;
  content: "L";
  left: 0px;
  top: 0px;
  transform: scaleX(-1) rotate(324deg);
  box-sizing: border-box;
  text-align: center;
  color: rgb(22, 115, 255);
  font-family: arial;
}

/* third-sec */

.third-sec {
  align-items: center;
  justify-items: center;
  justify-content: center;
  background-color: rgb(10, 18, 30);
  padding: 125px 0;
}

.label-info-content-title {
  /* max-width: 1260px;
  width: 100%; */
  margin: 0px auto;
  padding: 0px 2rem;
  justify-self: center;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  font-size: 13px;
}

.label-info-content-title::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  background-color: rgb(22, 115, 255);
  margin-right: 1em;
}

.third-sec-title {
  justify-self: center;
  margin-top: 40px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -0.03em;
  text-align: center;
  font-size: 52px;
  max-width: 60%;
  /* display: block;
  box-sizing: border-box;
  unicode-bidi: isolate; */
}

.third-sec-text {
  justify-self: center;
  max-width: 65%;
  margin-top: 4rem;
  font-size: 18px;
  text-align: center;
  opacity: 0.8;
}

.info-btns {
  max-width: 60%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: rgb(255, 255, 255);
  justify-self: center;
}

.info-btn-right,
.info-btn-left {
  color: rgb(255, 255, 255);
  margin-right: 2rem;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 1.75rem 2.25rem;
  font-size: 1.2rem;
  transition: transform 0.3s;
  backface-visibility: hidden;
  display: inline-block;
  border-radius: 0.4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.info-btn-right span,
.info-btn-left span {
  display: inline-block;
  margin-left: 2rem;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.info-btn-left {
  background: rgb(22, 115, 255);
}

.info-btn-right {
  border: 1px solid white;
}

/* third-dashboard */

.multisection {
  background-color: rgb(26, 32, 44);
}

.third-dashboard {
  margin-top: 150px;
  padding: 0px 2rem;
}

.third-dashboard-titles {
  justify-items: center;
  align-items: center;
}

.third-dashboard-titles div {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.02em;
  font-size: 13px;
}

.third-dashboard-titles div::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  background-color: rgb(22, 115, 255);
  margin-right: 1em;
}

.third-dashboard-titles h2 {
  margin-top: 1rem;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -0.03em;
  /* text-align: center; */
  display: block;
}

.third-dashboard-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.column-item-row {
  display: flex;
}

.third-dashboard-columns {
  flex: 1 1 30%;
  max-width: 30%;
  margin-right: 40px;
}

.third-dashboard-img {
  flex: 1 1 60%;
}

.third-dashboard-img img {
  max-width: 100%;
  max-height: 100%;
}

.third-dashboard-column {
  background-color: rgb(45, 55, 72);
  padding: 2rem 1.5rem;
  opacity: 1;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.column-item-row-img {
  content: "";
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: rgb(221, 9, 57);
  border-radius: 100rem;
  margin-right: 20px;
  /* justify-content: end;
  justify-self: end; */
  max-width: 100%;
  /* z-index: -2; */
}

.column-item-body {
  font-size: 16px;
}

.column-item-body h4 {
  display: block;
  font-weight: bold;
  /* margin-bottom: 7px; */
}

.up-block-content-txt {
  font-weight: normal;
  margin-top: 15px;
  height: auto;
  font-size: 1.5rem;
  opacity: 1;
}

.second,
.third {
  margin-top: 15px;
}

/* boxes */

.boxes {
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-top: 150px;
  /* max-width: 1300px; */
}

.boxes-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--autofit-grid-item-size), 1fr)
  );
}

.cube {
  flex: 0 1 30%;
  padding: 2.5rem;
  background-color: rgb(45, 55, 72);
  justify-content: center;
  align-items: center;
  /* margin: 20px; */
}

.cube img {
  max-height: 128px;
  max-width: 128px;
  display: block;
  justify-self: center;
}

.cube-txt {
  font-size: 16px;
  justify-self: center;
  text-align: center;
  opacity: 0.6;
  margin-top: 10px;
}

.cube-title {
  justify-self: center;
  margin-top: 1rem;
  font-weight: bold;
}

/* vertical */

.vertical {
  max-width: 2500px;
  width: 100%;
}

.vertical-titles {
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.vertical-titles div {
  text-transform: uppercase;
}

.vertical-titles div::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  background-color: rgb(22, 115, 255);
  margin-right: 1em;
}

.vertical-titles h4 {
  margin-top: 10px;
  font-size: 52px;
  /* margin-bottom: 40px; */
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -0.03em;
}

.vertical-body {
  max-width: 2500px;
}

.vertical-row {
  display: flex;
  padding: 0 20px;
  margin-top: 10px;
}

.vertical-column {
  width: 341.423px;
  background-color: rgb(45, 55, 72);
  /* display: flex; */
  width: 100%;
  height: 100%;
}

.vertical-img img {
  max-width: 100%;
}

.vertical-column {
  margin-right: 10px;
  border-radius: 0.6rem;
}

.vertical-txt-title {
  font-size: 1.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: bold;
  margin-top: 20px;
}

/* scroll-first */
.scroll-first {
  margin-top: 150px;
}

.vertical-txt-body {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  opacity: 0.6;
  margin-top: 20px;
  text-size-adjust: 100%;
}

.vertical-item {
  /* height: 450px;
  display: flex;
  flex-direction: column; */
}

.vertical-txt {
  padding: 0px 2rem;
  margin-bottom: 20px;
}

/* svg */

.svg {
  color: rgb(237, 237, 238);
  box-sizing: border-box;
}

/* newsletter */

.bottom-color {
  background-color: rgb(10, 18, 30);
}

.newsletter {
  justify-items: center;
  padding-bottom: 160px;
}

.newsletter-title {
  margin-bottom: 4rem;
  font-size: 52.5px;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
}

/* footer */

footer {
  padding: 100px 0 40px 0;
}

.links-row {
  display: flex;
  justify-content: space-between;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.site-link {
  display: flex;
  flex-direction: column;
  /* margin-top: 1rem; */
  font-size: 1.6rem;
}

.links-row {
  padding: 0 20px;
}

.footer-column-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  margin-right: 5rem;
}

.footer-column-title {
  font-weight: bold;
  font-size: 2.25rem;
  margin-bottom: 2.5rem;
}

.site-link a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  margin-top: 1rem;
}

/* footer-row */

.footer-row {
  display: flex;
  justify-content: space-between;
}
